######################### READ ME FIRST! #########################
# You are meant to copy this file and update the defines below
# for your own machine; these defines should be kept LOCAL ONLY
# as some of them (e.g. API keys) should actually be kept secret.
##################################################################

DEEPSEEK_API_KEY=todo
DEEPSEEK_API_BASE_URL=https://api.deepseek.com/v1

DEBUG=False
LOG_LEVEL=INFO

TENSORBOARD_LOG_DIR=./logs/tensorboard/
TMP_DIR=/tmp/codeinterp/
