######################### READ ME FIRST! #########################
# You are meant to copy this file and update the defines below
# for your own machine; these defines should be kept LOCAL ONLY
# as some of them (e.g. API keys) should actually be kept secret.
##################################################################

#PYINE_DATA_ROOT=???  # update if you do not store your datasets in <repo_root>/data
#LOGS_ROOT_ENV_VAR=???  # update if you do not want logs/outputs in <repo_root>/logs

#DEEPSEEK_API_KEY=???  # update with proper value and uncomment if needed!
DEEPSEEK_API_BASE_URL=https://api.deepseek.com/v1

#OPENAI_API_KEY=???  # update with proper value and uncomment if needed!
OPENAI_BASE_URL=https://api.openai.com/v1

#HF_TOKEN=???  # update with proper value and uncomment if needed!

#WANDB_API_KEY=???  # update with proper value and uncomment if needed!
WANDB_PROJECT=pyine

TENSORBOARD_LOG_DIR=./logs/tensorboard/
TMP_DIR=/tmp/pyine/
LOGLEVEL=INFO
