# nbstripout filter: strips outputs from notebooks on commit, keeps them locally
#
# To install the git filter, run:
#    make setup-nbstripout-tool && make setup-nbstripout
#
# NOTE: this is done automatically by `make install`.
#
*.ipynb filter=nbstripout

*.zpln filter=nbstripout
*.ipynb diff=ipynb
